html, body, #root {
    height: 100%;
  }
  
  body {
    margin: 0;
  }
  
  #root {
    zoom: 0.8;
  }
  
  /* @supports not (zoom: 1) {
    #root {
      transform: scale(0.8);
      transform-origin: top left;
      width: 125%;
      height: 125%;
    }
  } */
  
  